@import 'ag-grid-community/styles/ag-grid.css'; // Core grid CSS, always needed
@import 'ag-grid-community/styles/ag-theme-alpine.css';

html, body { height: 100%; }
body { 
    margin: 5px 10px; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #241224;
    color: #ffff;
}